<a href="https://colab.research.google.com/github/jjclinares/Python-Prep/blob/main/Modulo2-Mintic%20Curso%20Ciencia%20de%20datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*ejemplo modulo 2*

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('filename.csv',',')

In [ ]:
df.head()

In [ ]:
df.tall

In [ ]:
df.describe()

In [ ]:
type.df()

In [ ]:
df.shape()

In [ ]:
df.columns()

In [ ]:
df.dtypes()

In [ ]:
price-df['price']

In [ ]:
price.hist()

In [ ]:
price.head()

In [ ]:
data-df[['price','bedrooms']]

segmentador de los datos .iloc

In [ ]:
df.iloc()

In [ ]:
df.groupby('bedrooms')['price'].mean()

In [ ]:
df.groupby('bedrooms')['price'].mean().plot()

In [ ]:
import seaborn as sms
import matplotlib.pyplot as plt
corr_df -df.corr(method-'pearson')
plt.figure(figssize=(15,15))
sms.heatmap(corr_df, annot=True)
plt.show()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df['price'].isnull()

In [ ]:
df.fillna(0)

In [ ]:
y = df['price'].values