## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
var_1 = -8    
print (var_1)

-8

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
var_2 = 8.5   #Valores Flotantes.
type(var_2)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(var_1)   #Referencia a Número entero.

int

4) Crear una variable que contenga tu nombre

In [5]:
Var_My_name = 'Jamer Jilver Castro Linares'

5) Crear una variable que contenga un número complejo

In [8]:
Var_complex = (var_1) + 8j   #Número entero más Numero Complejo.

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type (Var_complex)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
Var_Pi = 3.1415    #Recordar usar  Import.math y math.     para realizar busqueda de Valores.

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
Var_3 = 'True'   #Es tipo STR
Var_4 = True     #Es tipo Bool

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [20]:
print('Var_3 es de Tipo ',type(Var_3),'y Var_4 es de Tipo ',type(Var_4))

Var_3 es de Tipo  <class 'str'> y Var_4 es de Tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [24]:
Var_5 = var_1+var_2
print(Var_5)

0.5

11) Realizar una operación de suma de números complejos

In [29]:
print(Var_complex + 3j)

(-8+11j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
print(var_1 + Var_complex)

(-16+8j)

13) Realizar una operación de multiplicación

In [33]:
print(4 * 2)

8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [34]:
print(-10 ** 3)

-1000

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [38]:
Var_cos = 27/4
print(Var_cos)

6.75

16) De la división anterior solamente mostrar la parte entera

In [41]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [42]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [44]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [46]:
var_6 = 'Bogotá es la '
var_7 = '1ra Capital de Colombia '  #Alfanumérico
print(var_6 + var_7)

Bogotá es la 1ra Capital de Colombia

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [48]:
"2" == 2  #El tipo de dato es distinto.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [51]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [52]:
a = float('3,8')  #El dato de tipo float debe usar punto y no coma para sus decimales

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [60]:
Var_8 = 3
Var_8-= 1
print(Var_8)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [61]:
1 << 2   #Son bits con un valor asignado lo cuales son una potencia de dos.
        #En este caso el numero 1 se desplazo 2 posiciones siendo 2**2 la formula solicitada.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [62]:
2 + '2'      #Arroja error por que el tipo de dato es diferente.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [75]:
int(2) + int('2')

4

In [76]:
float(2) + float('2')

4.0

In [80]:
#Al ser del mismo tipo son formulas validas pero,no arrojan el mismo resultado.
str(2) + str('2')

'22'

In [81]:
#Al ser del mismo tipo son formulas validas pero,no arrojan el mismo resultado.
bool(2) + bool('2')

2

In [79]:
#Al ser del mismo tipo son formulas validas pero,no arrojan el mismo resultado.
complex(2) + complex('2')

(4+0j)

26) Realizar una operación válida entre valores de tipo entero y string

In [72]:
print('Hola mundo, ' * 18)

Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo, Hola mundo,